<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Title</title>
</head>
<body>
<ul class="weekdays">
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('MONDAY')} ? 'active' : ''" data-id="1">Понедельник
    </li>
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('TUESDAY')} ? 'active' : ''" data-id="2">Вторник</li>
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('WEDNESDAY')} ? 'active' : ''" data-id="3">Среда</li>
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('THURSDAY')} ? 'active' : ''" data-id="4">Четверг
    </li>
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('FRIDAY')} ? 'active' : ''" data-id="5">Пятница</li>
    <li class="" th:classappend="${date.getDayOfWeek().name.equals('SATURDAY')} ? 'active' : ''" data-id="6">Суббота
    </li>
</ul>
<div class="container">
    <table class="table" id="lessons">
        <thead>
        <tr>
            <th scope="col">Время</th>
            <th scope="col">Название</th>
            <th scope="col">Группа</th>
            <th scope="col">Тип занятия</th>
            <th scope="col">Неделя</th>
            <th scope="col">Ссылка на видеоконференцию</th>
            <th th:if="${user.getRole().getPermission().contains(permission)}" scope="col">Действие</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<input type="hidden" id="permission" th:value="${permission}">
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        renderLessons()
    })

    function renderLessons() {
        $.get("http://localhost:8080/api/all-lessons-by-week/" + $(".active").data("id"), function (data) {
            let lessons = ''
            let week = ''
            let typeLesson = ''
            $.each(data, function (index, lesson) {
                if (lesson.weekTypeZnamenatel && lesson.weekTypeChislitel) {
                    week = 'Каждую неделю'
                } else if (lesson.weekTypeZnamenatel) {
                    week = 'Знаменатель'
                } else if (lesson.weekTypeChislitel) {
                    week = 'Числитель'
                }
                if (lesson.isLecture) {
                    typeLesson = 'Лекция'
                } else {
                    typeLesson = 'Лабораторная'
                }
                lessons += `
                    <tr>
                        <td>${lesson.timeLesson}</td>
                        <td>${lesson.discipline}</td>
                        <td>${lesson.group}</td>
                        <td>${typeLesson}</td>
                        <td>${week}</td>
                        <td style="width: 300px"><a href="${lesson.link}"><img src="/images/video-call.png"></a></td>
                `
                if ($("#permission").val() == 'ACTION_LESSONS') {
                    lessons += `<td><a href="/teacher/lesson/update/${lesson.id}" class="change btn btn-warning">Изменить</a></td>`
                }
                lessons += `</tr>`
            })
            document.querySelector("#lessons tbody").innerHTML = lessons
        })
    }
</script>
</html>